/* Used on task items when they are deleted. */
@keyframes task-exit {
    from {
        transform: perspective(400px);
    }
    
    30% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        opacity: 1;
    }
    
    to {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        opacity: 0;
    }
}

.exit {
    animation-name: task-exit;
    animation-duration: .35s;
    animation-fill-mode: forwards;
}







/* This will be used for the modal later on. */
@keyframes flipInX {
    from {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg) translateY(-50%);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    
    40% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg) translateY(-50%);
        animation-timing-function: ease-in;
    }
    
    60% {
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg) translateY(-50%);
        opacity: 1;
    }
    
    80% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg) translateY(-50%);
    }
    
    to {
        transform: perspective(400px) translateY(-50%);
    }
}
